<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263434097963-krcqmlvjebf3l6i9nd93dp0rdeisup2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263434097963-krcqmlvjebf3l6i9nd93dp0rdeisup2u</string>
	<key>API_KEY</key>
	<string>AIzaSyC7w-OAKqz9DQSjsP7LkRFWz40CByn4YC8</string>
	<key>GCM_SENDER_ID</key>
	<string>263434097963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KellyUng.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-c023e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-c023e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263434097963:ios:1d45a64c33e49d4556616e</string>
</dict>
</plist>